In [4]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/dataworkshop/webinar-titanic/master/input/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
feats = ['Pclass', 'Fare']
X = df[feats].values
y = df['Survived'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

X_train.shape, X_test.shape

((623, 2), (268, 2))

In [14]:
model = DecisionTreeClassifier(max_depth=20)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy_score(y_test,y_pred)

0.6380597014925373

In [15]:
model = RandomForestClassifier(max_depth=10, n_estimators=50)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy_score(y_test,y_pred)

0.6417910447761194

In [16]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [17]:
df['Sex_cat'] = df['Sex'].factorize()[0]

In [20]:
feats = ['Pclass', 'Fare', 'Sex_cat']
X = df[feats].values
y = df['Survived'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

X_train.shape, X_test.shape

model = DecisionTreeClassifier(max_depth=10)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy_score(y_test,y_pred)

0.8059701492537313

In [21]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 2A78-CBB3

 Directory of C:\Users\Konrad

26.02.2020  16:56    <DIR>          .
26.02.2020  16:56    <DIR>          ..
05.01.2020  12:12    <DIR>          .anaconda
17.02.2016  21:18    <DIR>          .android
09.02.2020  13:00                22 .bash_history
26.02.2020  16:59    <DIR>          .conda
26.02.2020  16:08                43 .condarc
01.02.2020  14:58    <DIR>          .config
20.02.2020  20:23                33 .gitconfig
01.11.2019  15:07    <DIR>          .GoPro
22.09.2019  17:31    <DIR>          .idlerc
26.02.2020  16:49             8 857 .ipynb
26.02.2020  16:49    <DIR>          .ipynb_checkpoints
05.01.2020  12:13    <DIR>          .ipython
08.02.2020  17:12    <DIR>          .jupyter
05.01.2020  12:13    <DIR>          .matplotlib
18.01.2020  19:02    <DIR>          .nuget
18.02.2020  18:50    <DIR>          .pylint.d
05.01.2020  12:21    <DIR>          .spyder-py3
22.12.2019  19:13    <DIR>          .templateengine
12.12.2019  18:03    <DIR>          .vscode
12.02.2020  09:40    <DIR>          3D Objects
12.02.2020  09:40    <DIR>          Contacts
07.08.2019  20:06    <DIR>          Creative Cloud Files
13.02.2020  17:16             1 727 day2.ipynb
26.02.2020  15:19    <DIR>          Desktop
12.02.2020  09:40    <DIR>          Documents
26.02.2020  10:20    <DIR>          Downloads
10.12.2016  10:47    <DIR>          Evernote
12.02.2020  09:40    <DIR>          Favorites
12.12.2015  00:33    <DIR>          Intel
12.02.2020  09:40    <DIR>          Links
08.02.2020  17:07            29 645 moje_początki_zML.ipynb
12.02.2020  09:40    <DIR>          Music
11.02.2020  20:33    <DIR>          OneDrive
06.02.2020  19:53         8 388 608 pd3002.mdf
06.02.2020  19:53         8 388 608 pd3002_log.ldf
12.02.2020  09:40    <DIR>          Pictures
20.01.2020  20:33                68 PJWSTK~254645.sql
12.02.2020  09:40    <DIR>          Saved Games
12.02.2020  09:40    <DIR>          Searches
29.10.2019  15:18    <DIR>          source
26.02.2020  16:10             1 474 titanic.ipynb
26.02.2020  16:48             8 857 titanic_data_workshop.ipynb
26.02.2020  16:56             8 933 titanic_dataworkshop.ipynb
20.12.2015  10:13    <DIR>          Tracing
25.02.2020  19:27    <DIR>          Videos
              12 File(s)     16 836 875 bytes
              35 Dir(s)  13 246 046 208 bytes free